<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-dark" [routerLink]="['nuevo']" routerLinkActive>Nuevo</button>
            <button type="button" class="btn btn-outline-dark" [routerLink]="['editar']" routerLinkActive>Editar</button>
            <button type="button" class="btn btn-outline-dark" [routerLink]="['detalle']" routerLinkActive>Detalle</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>